/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin-bottom: 0.5rem;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Banner */

.banner {
    background: url('banner.png') no-repeat center center/cover;
    height: 500px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner h2 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.banner p {
    font-size: 1.2rem;
}

/* "quem sou" */

.content {
    display: flex;
    align-items: top;
    justify-content: space-between;
}

.text {
    flex: 1;
    padding: 40px;
}

.image {
    flex: 1;
    padding: 10px;
}

.image img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Estilo do botão */
.btn {
    display: inline-block;
    padding: 7px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #ff9100;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    margin-top: 25px;
}

.btn:hover {
    background-color: #ff9100b9;
}


/* "últimos trabalhos" */

.gallery-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.gallery img {
    width: calc(33% - 15px); /* Ajuste conforme necessário */
    height: auto;
    border-radius: 15px;
    
}

